body{
	margin:0;
}
.titulo{
	color:blue;
	margin-block:0;
    background-color: #91C8E4;
    padding: 3rem;
    border-radius: 0px 0px 40px 40px;
}
.titulo:hover{
	color:black;
}
#subtitulo{
	text-align: center;
	font-size:1.5rem;
	margin-block:0.3rem;
}
#botonquenohacenada{
	color:salmon;
	background-color: blue;
	padding: 1rem;
	border-radius: 20px;
	
}
.patos{
	display: flex
}
.patodomestico{
	width: 30%;
    display: inline-block; 
	padding:2rem 9.5rem
}
.patodomestico img{
	width: 100%;
	height: auto;
	display: inline-block; 
}

.patosilvestre{
	width: 30%;
    display: inline-block; 
	padding:2rem 5rem
}
.patosilvestre img{
	width: 100%;
	height: auto;
	display: inline-block; 
}

#patoinfo{
	display: block;
	overflow: hidden;
    width: 100%;
    height: 0px;
    transition: height 0.5s ease-in 0s;
}